<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.demo.dispatchmanage.mapper.DispatchMapper">
    <select id="getEmergencies" parameterType="java.lang.String" resultType="java.util.HashMap">
        SELECT * FROM affair.emergency WHERE state not in ('决策完毕','未发布','已保存');
    </select>

    <select id="getTasks" parameterType="java.lang.String" resultType="java.util.HashMap">
        SELECT t.id,t.name FROM affair.emergency_task as e , affair.task as t
        WHERE e.emergency_id='${id}' AND e.task_id=t.id AND t.delete_flag = 0
        AND statue = 0;
    </select>

    <select id="existsLocation" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT 1 FROM affair.location as a
        WHERE a.task_id='${id}' LIMIT 1;
    </select>

    <select id="getEmergencyAddress" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT address FROM affair.emergency WHERE id='${id}' LIMIT 1;
    </select>

    <insert id="insertDefaultLocationTask" parameterType="java.lang.String">
        INSERT INTO affair.location(task_id,address)
        VALUE (#{tId},#{address});
    </insert>

    <select id="getTaskLocationById" parameterType="java.lang.String" resultType="java.util.HashMap">
        SELECT  l.id,l.task_id,
                l.address as taskAddress,
                l.lnglat,l.explain,
                t.`name`,
                em.address
        FROM
        affair.emergency as em,
        affair.emergency_task as e ,
        affair.task as t,
        affair.location as l
        WHERE
        em.id =  '${id}' AND
        e.emergency_id = '${id}'
        AND e.task_id = t.id
        AND t.id = l.task_id;
    </select>

    <update id="updateTaskAddress" >
        UPDATE affair.location as l
        SET l.address=#{address},l.lnglat = #{lngLat},l.explain=#{explain}
        WHERE l.task_id = #{tId}
    </update>
</mapper>
